# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
frontend/node_modules/

# Vite
frontend/dist/

# Python cache
*.pyo
*.pyd

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db